a, .button{
  text-decoration: none;
  max-width: 5vw !important;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: crimson;
}

a:active {
  color: crimson;
}

.projects a {
  width: 5vw;
}